/* Source: https://stackoverflow.com/a/43783066/2056125 */
.selectable {
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Chrome and Opera */

    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 1em;
    margin-top: 0.5em;
}

.break-all {
    word-break: break-all;
}

.whitespace-highlight {
    background-color: lightblue;
    padding: 1px;
}

.separator-highlight {
    background-color: black;
    color: white;
    padding: 1px;
}
